@media screen and (max-width:900px) {
  .album{
    width: calc(97% / 4);
  }
  .album:nth-of-type(n+5){
    display: none;
  }
}

@media screen and (max-height:580px) {
  .upgrade-banner{
    display: none;
  }
  .main__content{
    padding-top: 20px;
  }
  
}

@media screen and (max-width:750px){
  .album{
    width: calc(99% / 2);
  }
  .album:nth-of-type(n+3){
    display: none;
  }

@media screen and (max-width:590px) {
  .side-bar{
    width: 50px;
    padding: 10px;
  }
  .widget{
    justify-content: flex-start;
    flex-grow: 1;
  }
  .widget li{
    padding: 0;
  }
  .logo{
    display: none;
  }
  .logo-mini{
    display: block;
  }
  .side-bar h5, .playlist,.add-playlist{
    display: none;
  }
  .download,.profile{
    border: none;
    padding: 0;
    margin: 8px 0;
  }
  .upgrade-banner{
    width: calc(100% - 50px);
  }
  .go-upgrade{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 208px;
    
  }
  .song-info{
    min-width: 100px;
  }
  .song-info .info{
    display: none;
  }
  .action{
    width: 150px;
  }
  .volume-tot{
    display: none;
  }
}

@media screen and (max-width:370px){
  .main__content{
    padding-top: 2px;
  }
  .main-wrapper{
    flex-direction: column;
  }
  .upgrade-banner{
    display: none;
  }
  .side-bar{
    width: 100vw;
    flex-direction: row;
    align-items: center;
  }
  .widget{
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
  }
  .widget li.active{
    border-bottom: 2px solid lime;
    border-left: none;
  }
  .download, .profile{
    display: none;
  }
  .navbar-main{
    justify-content: flex-start;
  }
  .album-wrapper{
    justify-content: center;
  }
  .album{
    width: 100%;
  }
  .album:nth-of-type(n+2){
    display: none;
  }
  .image-album img, .circle{
    box-shadow: 10px 20px 10px black;
  }
  .album-container h2, .album-container h3, .album-container p{
    text-align: center;
  }
  .fa-random.icon, .fa-redo-alt.icon{
    display: none;
  }
  .action{
    display: block;
  }
  .action .fa-list-ul, .action .fa-desktop{
    display: none;
  }
}