*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

.main-wrapper{
  width: 100vw;
  height: calc(100vh - 90px);
  display: flex;
  color: white;
}

/* SIDEBAR */

.side-bar{
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: #000;
  flex-shrink: 0;
  padding: 20px 0 5px 20px;
  color: #858585;
}

.side-bar ul{
  display: contents;
}

.logo{
  width: 130px;
}

.widget{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
  gap: 8px;
}

.svg-icon{
  width: 20px;
  line-height: 10px;
}

.side-bar li:hover, li.active{
  color: white;
  border-left: 2px solid lime;
  padding-left: 10px;
}

.side-bar li{
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}

.side-bar li>h5{
  font-size: 10px;
}

.playlist{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-grow: 1;
}

.playlist ul{
  display: contents;
}

.playlist li{
  font-size: 10px;
}

#playlist-title{
  text-transform: uppercase;
  margin-top: 15px;
  color: white;
}

.add-playlist{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.add{
  font-size: 30px;
  color: #A3A3A3;

}

.download, .profile{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.download{
  font-size: 10px;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
}

.svg-icon-download{
  width: 10px;
  line-height: 10px;
}

.profile{
  color: white;
}

.svg-icon-profile{
  width: 20px;
  padding: 3px;
  background-color: #808080;
  line-height: 10px;
  border-radius: 50%;
}

.main__content{
  position: relative;
  flex-grow: 1;
  background-color: #141923;
  overflow-y: scroll;
  padding-top: 120px;
}

.upgrade-banner{
  min-height: 90px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

/* TOOL-BAR */

.tool-bar{
  width: 100vw;
  height: 90px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info ul{
  display: contents;
}

.song-info{
  min-width: 230px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #858585;

}

.song{
  width: 150px;
}

.song .cover{
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.song .info{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.info h5{
  color: white;
}

.info p{
  font-size: 10px
}

.control-commands{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.commands ul{
  display: contents;
}

.commands{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.commands li:nth-child(3){
  font-size: 30px;
}

.icon:hover{
  color: lime;
}

.time-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 10px;
}

.line-tot{
  flex-grow: 1;
  height: 5px;
  border-radius: 3px;
  background-color: #5A5A5A;
}

.line-passed{
  position: relative;
  width: 20%;
  height: 5px;
  border-radius: 3px;
  background-color: #A6A5A6;
}

.time-line:hover .line-passed{
  background-color: lime;
}

.dot-cursor{
  width: 10px;
  min-height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: white;
  opacity: 0;
}

.time-line:hover .dot-cursor{
  opacity: 1;
}

.action ul{
  display: contents;
}

.action{
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  width: 100%;
  max-width: 230px;
}

.action li:nth-child(3){
  display: inline-block;
}

.volume-tot{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  flex-grow: 1;
  min-height: 5px;
  border-radius: 3px;
  background-color: #5A5A5A;
}

.volume-on{
  position: relative;
  width: 40%;
  height: 5px;
  border-radius: 3px;
  background-color: #A6A5A6;
}

.volume-cursor{
  width: 10px;
  min-height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: white;
  opacity: 0;
}

.action:hover .volume-on{
  background-color: lime;
}

.action:hover .volume-cursor{
  opacity: 1;
}