*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}

.ghost{
  display: contents;
}

a{
  text-decoration: none;
  color: currentColor;
  display: contents;
}

img{
  max-width: 100%;
  display: block;
}

.main-wrapper{
  width: 100vw;
  height: calc(100vh - 90px);
  display: flex;
  color: white;
}

/* SIDEBAR */

.side-bar{
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: #000;
  flex-shrink: 0;
  padding: 20px 0 5px 20px;
  color: #858585;
  overflow: hidden;
}

.logo{
  width: 130px;
}
.logo-mini{
  display: none;
  width: 30px;
}

.widget{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
  gap: 8px;
  font-size: 30px;
}

.svg-icon{
  width: 20px;
  line-height: 20px;
}

.widget li{
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.side-bar li:hover{
  color: white;
}

.widget li.active{
  border-left: 2px solid lime;
}

.side-bar li>h5{
  font-size: 12px;
}

.playlist{
  flex-grow: 1;
  overflow-y: auto;
}

.name-playlist li{
  font-size: 12px;
  padding-left: 10px;
  margin: 10px 0;
}

#playlist-title{
  text-transform: uppercase;
  margin-top: 15px;
  padding-left: 10px;
  color: white;
}

.add-playlist{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
  padding-left: 10px;
}

.add-playlist:hover{
  color: white;
}

.add{
  font-size: 30px;
  color: #A3A3A3;
}

.download, .profile{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.download{
  width: 90%;
  font-size: 12px;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
}

.svg-icon-download{
  width: 12px;
  line-height: 12px;
}

.profile{
  color: white;
}

.svg-icon-profile{
  width: 20px;
  padding: 3px;
  background-color: #808080;
  line-height: 10px;
  border-radius: 50%;
}

.download:hover{
  color: white;
}

.profile:hover{
  background-color: rgba(250, 250, 250, 0.1);
  border-radius: 20px;
}

/* BANNER */

.upgrade-banner{
  position: relative;
  min-height: 90px;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: calc(100% - 230px);
}

.go-upgrade{
  position: absolute;
  top: 22px;
  right: 0;
  border-radius: 99999px;
  border: 2px solid white;
  padding: 5px 30px;
  margin-right: 10px;
}

/* MAIN-CONTENT */

.main__content{
  position: relative;
  flex-grow: 1;
  background-color: #141923;
  overflow-y: scroll;
  padding-top: 120px;
}

.navbar-main{
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: bold;
  color: #7E8084;
}

.navbar-main li{
  position: relative;
}

.navbar-main li:hover{
  color: white;
}

.navbar-main li.active::after{
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background-color: lime;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.album-container{
  padding: 0 20px;
}

.album-container h2{
  margin: 20px 0;
}

.album-container h3{
  margin-top: 30px;
}

.album--title, .album--description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album:hover .album--title,
.album:hover .album--description{
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.album-container p{
  margin: 5px 0 20px 0;
  color: #858585;
  font-weight: bold;
}

.album-wrapper{
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}

.album{
  width: calc(95% / 6);
  text-align: center;
}

.image-album{
  position: relative;
  margin-bottom: 20px;
}

.image-album i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  z-index: 9999;
  display: none;
}

.album:hover .image-album i{
  display: block;
}

.album:hover .image-album::after{
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.album:hover .hover-play i{
  display: block;
  color: white;
  overflow: hidden;
}

.circle{
  border-radius: 50%;
  overflow: hidden;
}

.go-upgrade:hover{
  text-decoration: underline;
}

/* TOOL-BAR */

.tool-bar{
  width: 100vw;
  height: 90px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info{
  min-width: 230px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #858585;
}

.song{
  width: 150px;
  padding: 5px;
  
}

.song:hover{
  background-color: rgba(250, 250, 250, 0.1);
}
.song .cover{
  width: 45px;
  display: inline-block;
  vertical-align: middle;
}

.song .info{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.info h5{
  color: white;
}

.info p{
  font-size: 10px
}

.info p:hover{
  text-decoration: underline;
  color: white;
}

.favorite i{
  padding: 4px;
}

.favorite i:hover{
  color: white;
}

.control-commands{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.commands{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  color: white;
  cursor: pointer;
}

.play-icon{
  font-size: 30px;
}

.icon:hover{
  color: lime;
}

.time-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.line-tot{
  flex-grow: 1;
  height: 5px;
  border-radius: 3px;
  background-color: #5A5A5A;
}

.line-passed{
  position: relative;
  width: 20%;
  height: 5px;
  border-radius: 3px;
  background-color: #A6A5A6;
}

.time-line:hover .line-passed{
  background-color: lime;
}

.dot-cursor{
  width: 10px;
  min-height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: white;
  display: none;
}

.time-line:hover .dot-cursor{
  display: block;
}

.action{
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  width: 100%;
  max-width: 230px;
  cursor: pointer;
}

.action li:nth-child(3){
  display: inline-block;
}

.action li:hover{
  color: lime;
}

.volume-tot{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  flex-grow: 1;
  min-height: 5px;
  border-radius: 3px;
  background-color: #5A5A5A;
}

.volume-on{
  position: relative;
  width: 40%;
  height: 5px;
  border-radius: 3px;
  background-color: #A6A5A6;
}

.volume-cursor{
  width: 10px;
  min-height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: white;
  opacity: 0;
}

.action:hover .volume-on{
  background-color: lime;
}

.action:hover .volume-cursor{
  opacity: 1;
}